<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户CRUD</title>
<!--    连接css样式失败 -->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>-->
    <!--页面图标设置-->
    <link th:href="@{/ui/iconImg.ico}" rel="shortcut icon" />
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css" />
</head>
<body action="/user" th:action="@{/user}" method="post">
    <script type="text/javascript">
        function getUser() {
            //前端查询数据传输
            console.log("111");
            var userId = document.getElementById('userId').value;
            var userName = document.getElementById('userName').value;
        }
    </script>
    <div class="top" >
        <ul>
            <li><a href="http://localhost:8001/user/home"><b>首页</b></a></li>
            <li><a href="http://localhost:8001/user/insertUser">Create</a></li>
            <li><a href="http://localhost:8001/user/getUser">Retrieve</a></li>
            <li><a href="http://localhost:8001/user/updateUser">Update</a></li>
            <li><a href="http://localhost:8001/user/deleteUser">Delete</a></li>
            <div>
                <a href="http://localhost:8001/user/about" style="margin-left: 18px;margin-right: 18px;">
                    <b>关于</b>
                    <div>
                        <a href="#">二级菜单</a>
                        <a href="#">二级菜单</a>
                    </div>
                </a>
            </div>
        </ul>
    </div>

    <div align="center" style="background-color: #c1e2b3">
        <table id="table1">
            <tr>
                <td colspan="2" style="text-align: center;">
                    <h2 align="center">检索用户信息:</h2>
                </td>
            </tr>
            <tr >
                <td><text >请输入用户ID:</text></td>
                <td><input id="userId" type="text"/></td>
            </tr>
            <tr >
                <td><text >请输入用户昵称:</text></td>
                <td><input id="userName" type="text"/></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
<!--                    <button type="submit" >检索</button>-->
                    <button id="getUserById" type="button" onclick="getUser()">检索</button>
                </td>
            </tr>
        </table>
    </div>
    <div align="center">
        <!--接收后端数据-->

        <table class="table" style="background-color: #5bc0de" >
            <thead>
            <tr>
                <td class="id" style="padding: 15px;" >id</td>
                <td class="nickname" style="padding: 15px;">昵称</td>
                <td class="password" style="padding: 15px;">密码</td>
                <td class="slat" style="padding: 15px;">加密因子</td>
                <td class="head" style="padding: 15px;">头像</td>
                <td class="register_date" style="padding: 15px;">注册时间</td>
                <td class="last_login_date" style="padding: 15px;">上一次登录时间</td>
                <td class="login_cont" style="padding: 15px;">登录次数</td>
            </tr>
            </thead>
            <tbody style="color:#f94444;">
            <!--接收后端查询的数据-->
            <tr th:each="user:${userList}">
                <td  style="padding: 15px;" th:text="${user.getId()}"></td>
                <td  style="padding: 15px;" th:text="${user.getNickname()}"></td>
                <td  style="padding: 15px;" th:text="${user.getUserPassword()}"></td>
                <td  style="padding: 15px;" th:text="${user.getSlat()}"></td>
                <td  style="padding: 15px;" th:text="${user.getHead()}"></td>
                <td  style="padding: 15px;" th:text="${user.getRegisterDate()}"></td>
                <td  style="padding: 15px;" th:text="${user.getLastLoginDate()}"></td>
                <td  style="padding: 15px;" th:text="${user.getLoginCont()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>

<!--    连接.js文件失败-->
<!--<script th:src="@{/js/avalon.js}"></script>-->

</html>
